<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form method="post">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" value="{{ book.title }}" required>
        <br>
        <label>Author:</label>
        <input type="text" name="author" value="{{ book.author }}" required>
        <br>
        <label>Library:</label>
        <select name="library">
            <option value="">Select Library</option>
            {% for library in libraries %}
            <option value="{{ library.id }}" {% if book.library.id == library.id %}selected{% endif %}>
                {{ library.name }}
            </option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Update Book</button>
    </form>
    <a href="{% url 'book_list' %}">Back to Books</a>
</body>
</html>